

.item-img{
    vertical-align: top;
    display: inline-block;
    width:100px;
    text-align: center;
    padding:3px;
}
.item-desc{
    vertical-align: top;
    display: inline-block;
    width:200px;

}
.item-desc p{overflow: hidden;height:127px;}

.item-box{
    margin-bottom: 10px;
    height: 250px;
    overflow: hidden;
}
.item-box:hover{
    border-color: #0088cc;
    box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}
.item-box h2{font-size: 20px;padding-left: 20px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap}

#game-detail{
    width:900px;
    margin-left:-450px;
    top:40px;
}
.game-detail .modal-body{
    max-height: 700px;
    padding-top:5px;

}

.game-detail .right{float:right;padding:10px;color: #777;}
.game-detail .desc{float: left}
.game-detail .down{float: right;}

.game-detail .down img{margin:5px;}
.game-detail .down button{width:120px;}
.game-detail hr{margin:5px 0 ;}
